* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: rgb(194, 194, 194);    
}

header{
background-color: rgb(228, 198, 255);
margin-bottom: 25px;
}
nav{
    
}
main{    
    margin:auto; 
    
}

main h1{
    margin-bottom: 25px;
    text-align: center;
}
main form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    align-items: center;
    

}
main form input{
    width:100px ;
    height:20px ;
    border-radius: 0;
    margin-bottom: 15px;
    

}
main form input:hover{   
    box-shadow: 5px 5px black;
}

footer{
    background-color: rgb(228, 198, 255) ;

}
